doctype html
html(lang="ru")
    include includes/_head
    body
        include includes/_header
        .wrapper-content
            include includes/_carusel
            .container
                .catalog
                    ul.catalog-list
                        #001.catalog-item
                            a(href="#").catalog-item-href
                        #002 adsa

        include includes/_scripts