doctype html
html(lang="ru")
    include includes/_head
    body
        include includes/_header
        .wrapper-content
            .owl-carousel.menu-slider
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-utensils.menu-left-icon
                        p фастфуд
                    p.menu-slider-item_quantity 201
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-plane.menu-left-icon
                        p путешествия
                    p.menu-slider-item_quantity 2081
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-shopping-cart.menu-left-icon
                        p супермаркеты
                    p.menu-slider-item_quantity 70
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-utensils.menu-left-icon
                        p фастфуд
                    p.menu-slider-item_quantity 201
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-plane.menu-left-icon
                        p путешествия
                    p.menu-slider-item_quantity 2081
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-shopping-cart.menu-left-icon
                        p супермаркеты
                    p.menu-slider-item_quantity 70
                .menu-slider-item
                    a(href="#")
                        i.fas.fa-utensils.menu-left-icon
                        p фастфуд
                    p.menu-slider-item_quantity 201
        include includes/_scripts