.owl-carousel.menu-slider
    .menu-slider-item(style="background: url(\"https://png.pngtree.com/thumb_back/fw800/back_pic/03/65/70/5057aedc181a5cf.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p Доставка еды
            span.menu-slider-item_quantity 201 предложение
    .menu-slider-item(style="background: url(\"http://images6.fanpop.com/image/photos/41300000/Montenegro-travel-41362353-500-200.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p путешествия
            span.menu-slider-item_quantity 2081 предложение
    .menu-slider-item(style="background: url(\"http://www.ltb.de/fileadmin/user_upload/ltb/Industries/02_09_03_Consumer_goods_500x201.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p супермаркеты
            sapn.menu-slider-item_quantity 70 предложений
    .menu-slider-item(style="background: url(\"https://png.pngtree.com/thumb_back/fw800/back_pic/03/65/70/5057aedc181a5cf.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p Доставка еды
            span.menu-slider-item_quantity 201 предложение
    .menu-slider-item(style="background: url(\"http://images6.fanpop.com/image/photos/41300000/Montenegro-travel-41362353-500-200.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p путешествия
            span.menu-slider-item_quantity 2081 предложение
    .menu-slider-item(style="background: url(\"http://www.ltb.de/fileadmin/user_upload/ltb/Industries/02_09_03_Consumer_goods_500x201.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p супермаркеты
            span.menu-slider-item_quantity 70 предложений
    .menu-slider-item(style="background: url(\"https://png.pngtree.com/thumb_back/fw800/back_pic/03/65/70/5057aedc181a5cf.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p Доставка еды
            span.menu-slider-item_quantity 201 предложение
    .menu-slider-item(style="background: url(\"http://images6.fanpop.com/image/photos/41300000/Montenegro-travel-41362353-500-200.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p путешествия
            span.menu-slider-item_quantity 2081 предложение
    .menu-slider-item(style="background: url(\"http://www.ltb.de/fileadmin/user_upload/ltb/Industries/02_09_03_Consumer_goods_500x201.jpg\") 100% 100% no-repeat; background-size: cover")
        a(href="#")
            p супермаркеты
            span.menu-slider-item_quantity 70 предложений