header.header
    .container
        .header-content.flex-jc-sb
            .header-content-left.flex
                a(href="index.html").logo.logo-header
                    i.fas.fa-bars.logo-icon
                    p.logo-text каталог скидок
                a(href="#").header-city
                    p иркутск
            .header-search.flex
                input.header-search-input(type="text" placeholder="Поиск по товарам и услугам")
                i.fas.fa-search.header-search-icon
            a(href="index.html").header-add-btn добавить акцию