.helper.mt-medium
    h1.helper-tittle добро пожаловать на сайт&nbsp;
        a(href="index.html") каталог скидок онлайн
    h2.helper-discription мы собрали для тебя все лучшие скидки твоего города! Следуй инструкции ниже и найди свою скидку!
    ul.menu-helper
        li
            i.fas.fa-globe-americas
            p выбери город
        li
            i.far.fa-list-alt
            p открой каталог скидок
        li
            i.fas.fa-search-dollar
            p воспользуйся поиском
        li
            i.fas.fa-piggy-bank
            p найди нужную скидку