nav.menu-left.mt-medium
    ul
        li.menu-left-item
            a(href="#")
                i.fas.fa-home.menu-left-icon
                span главная
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-utensils.menu-left-icon
                span фастфуд
            p 201
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-plane.menu-left-icon
                span путешествия
            p 2081
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-shopping-cart.menu-left-icon
                span супермаркеты
            p 70
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-utensils.menu-left-icon
                span фастфуд
            p 201
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-plane.menu-left-icon
                span путешествия
            p 2081
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-shopping-cart.menu-left-icon
                span супермаркеты
            p 70
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-utensils.menu-left-icon
                span фастфуд
            p 201
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-plane.menu-left-icon
                span путешествия
            p 2081
        li.menu-left-item.flex-jc-sb
            a(href="#")
                i.fas.fa-shopping-cart.menu-left-icon
                span супермаркеты
            p 70